.header {
    width: 100%;
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px 100px;
    background-color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 20;
}

.header .logo{
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header .logo-text{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-black);
}

.header-navigation {
    width: 90%;
}

.header-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.header .search-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .search{
    width: 270px;
    height: 40px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid var(--Brand-Colors-400, #B7C5BC);
}

.search input {
    width: 80%;
    border: none;
    padding: 5px;
    background-color: var(--color-white);
}

.search input:focus {
    outline: none;
}

.search input::placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.search-wrapper .filter {
    width: 53px;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid var(--Brand-Colors-400, #B7C5BC);
}

.header .account {
    display: flex;
    align-items: center;
    gap: 35px;
}

.dropdown-container {
    position: relative;
}

.dropdown-btn,
.dropdown-btn-loggedin {
    background-color: transparent;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 6px 30px;
    border-radius: 4px;
    color: #000;
    border: 1px solid var(--Brand-Colors-Main, #265235);
}

.dropdown-btn-loggedin {
    font-weight: 500;
    font-size: 15px;
    border: none;
}

.dropdown-menu {
    width: 100%;
    top: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
     border: 1px solid #ccc;
    list-style: none;
    padding: 5px 0;
    z-index: 1;
}

.dropdown-menu li {
    padding: 7px 0;
}

.dropdown-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--color-black);
    text-decoration: none;
    padding: 10px 5px;
}

.dropdown-menu li:hover {
    background-color: var(--light-color-green);
}

.menu {
    position: relative;
}

.menu-icon{
    width: 35px;
    height: 40px;
    cursor: pointer;
    justify-self: flex-end;
    display: none;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 38px;
    padding: 20px 0;
}


li .header-menu-content {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    transition: color 0.3s ease;
    background-image: linear-gradient(to right, #265235, #265235);
    background-size: 0% 2px; 
    background-position: 0% 100%;
    background-repeat: no-repeat; 
}

li .header-menu-content:hover {
    background-size: 100% 2px; 
    transition: background-size 0.3s ease;
}

.menu ul li hr {
    border: none;
    width: 100%;
    margin-top: 0;
    height: 3px;
    border-radius: 10px;
    background-color: var(--primary-color-green);
}




/* Media queries */
@media (max-width:1024px) {
    .header {
        padding: 20px 70px;
        gap: 25px;
    }

    .menu ul {
        gap: 20px;
    }

    .header .account {
        gap: 20px;
    }
}

@media (max-width:930px) {
    .header {
        padding: 20px 40px;
    }

    li .header-menu-content {
        font-size: 14px;
    }
}

@media (max-width:820px) {
    .header {
        padding: 20px 50px;
        gap: 20px;
    }

    .menu ul {
        gap: 15px;
    }
}

@media (max-width:780px) {
    .header {
        padding: 20px 20px;
        gap: 15px;
    }

    .menu ul {
        gap: 13px;
    }

    li .header-menu-content {
        font-size: 14px;
    }
}

@media (max-width:720px) {
    .menu-icon {
        display: block;
    }

    .menu ul {
        display: none;
        position: absolute;
        flex-direction: column;
        width: 100%;
        background-color: var(--color-white);
        text-align: center;
        gap: 5px;
        animation: fadeIn 1s linear;
    }
    
    @keyframes fadeIn {
        from{
            opacity: 0.5;
        }
        to{
            opacity: 1;
        }
    }

    li .header-menu-content {
        border-bottom: 1px solid var(--primary-color-green);
        font-weight: 500;
    }

    .menu ul li{
        padding: 10px 0;
    }

    .menu ul li:hover {
        background-color: var(--light-color-green);
    }

    .menu ul.mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .menu ul li hr{
        width: fit-content;
    }
    .search-wrapper .filter {
        display: none;
    }
}

@media (max-width:600px) {
    .header {
        padding: 10px 20px ;
        align-items: flex-start;
        gap: 10 px;
    }

    .header .logo {
        align-self: flex-end;
    }

    .header .logo-text{
        font-size: 13px;
    }

    .header-details{
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .header .search {
        width: 250px;
        height: 30px;
    }

    .header .account {
        order: -1;
        gap: 15px;
    }

    .menu-icon {
        display: block;
    }

    .menu ul {
        display: none;
        position: absolute;
        flex-direction: column;
        width: 100%;
        background-color: var(--color-white);
        text-align: center;
        gap: 5px;
        animation: fadeIn 1s linear;
    }
    
    @keyframes fadeIn {
        from{
            opacity: 0.5;
        }
        to{
            opacity: 1;
        }
    }

    li .header-menu-content {
        border-bottom: 1px solid var(--primary-color-green);
        font-weight: 500;
    }

    .menu ul li{
        padding: 10px 0;
    }

    .menu ul li:hover {
        background-color: var(--light-color-green);
    }

    .menu ul.mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .menu ul li hr{
        width: fit-content;
    }
    .search-wrapper .filter {
        display: none;
    }
}