.container{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

/* .container img{
    height: 500px;
    width: 1408px;
    flex-shrink: 0;
    
} */
.container .contactImg{
    height: 700px;
    width: 1408px;;
    flex-shrink: 0;
    background-image: url(../../assets/images/contactimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contactImg .divider{
    background-color: var(--primary-color-green);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 1010px;
    padding: 49px ;
    justify-content: center;
    align-items: center;
    margin-top: 35rem;
    margin-left: 7rem;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.10);


}

.contactImg .divider h3{
    color:  #F5F5F5;
    width: 163px;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
    
}

.contactImg .divider p{
    color:  #F5F5F5;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    margin-top: 0;
    
}

.contactImg .divider button{
    color:  #F5F5F5;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; 
    background-color: transparent;
    margin-top: 5px;
    border: none;
}

.wrapper{
    width: 1010px;
    /* background-color: yellow; */
    position: relative;
    margin-left: 7rem;
    margin-top: 100px;
    padding: 49px ;
    z-index: -1;

}

.wrapper .emailHeader{
    color: #000;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    gap: 10px;
    margin-bottom: 30px;
    
}

.wrapper .emailHeader span{
    color: #000;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
   
}

.wrapper .emailinfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .emailinfo h4{
    width: 144px;
    height: 28px;
    color: #000;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    margin: 0;
}

.wrapper .emailinfo p{
    color: #000;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    margin: 0;
}

.inputFeild{
    /* background-color: bisque; */
    width: 100%;
    margin-top: 20px;
}

.inputFeild p{
    color: #000;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}  

.inputFeild p span{
        color: #000;
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; 
}

form{
    /* background-color: red; */
    margin-top: 30px;
}

form .userImputfield{
    width: 100%;
    display: flex;
    /* background-color: aqua; */
    flex-basis: 50%;
    margin-bottom: 20px;
    
}

form .userImputfield div{
    flex-basis: 50%;
    position: relative;
    width: 100%;
    /* background-color: blue; */
    gap: 20px;
}

form .userImputfield div input{
    display: flex;
    width: 92%;
    padding: 10px 12px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #D4DCD7;
}

form .userImputfield div label{
    color:  #141E15;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.labelTxt{
    margin-top: 13px;
}

textarea{
    display: flex;
    height: 181px;
    padding: 10px 5px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #D4DCD7;
    background: #FFF;
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.10);
}

.Btn{
    display: flex;
    width: 160px;
    height: 52px;
    padding: 32px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    background-color: var(--primary-color-green);
    border: none;
    color: #FFF;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; 
} 
.foot{
    width: 1408px;
    position: relative;

}

.newsLetter{
    background-image: url(../../assets/images/leaf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1408px;
    height: 597px;
    flex-shrink: 0;
}

.newsLetter div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsLetter div h4{
    color: #FFF;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    width: 415px;
    height: 27px;   
    
}
.newsLetter div input{
    width: 532px;
    height: 48px;
    border-radius: 10px;
    background: #FFF;
    border: none;
    outline: none;
}
.newsLetter div button{
    color: #F5F5F5;
    background-color: var(--primary-color-green);
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: none;
    margin-left: 10px;
}

.copyWrite{
    position: relative;
    display: flex;
    height: 123px;
    /* padding:  48px 713px 53px 120px; */
    align-items: center;
    flex-shrink: 0;
    background: #141E15;
    width: 100%;
}

.copyWrite div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyWrite div h6 {
    color: #FFF;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; 
    opacity: 0.4;
    margin-left: 10rem;
    
}

.copyWrite div ul {
    list-style: none;
    display: inline-flex;

}

.copyWrite div ul li a{
    text-decoration: none;
    margin: 10px;
    color: #FFF;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; 
}

.footerComp{
    color: #fff;
}

@media (max-width: 500px) {
    .container{
        width: 100%;
        /* padding: 30px; */
        text-align: center;
        align-items: center;
       justify-content: center;
       align-items: center;
    }

    .container .contactImg{
        height: 300px;
        width: 100vw;
        /* background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative; */
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contactImg .divider{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 49px;
        justify-content: center;
        align-items: center;
        margin-top: 15rem;
        margin-left: 4rem;
        text-align: center;
        margin-right: 4rem;
    }

    .wrapper{
        width: auto;
        /* background-color: yellow; */
        position: relative;
        margin-left: 0;
        margin-top: 15rem;
        padding: 49px;
        z-index: -1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
    }

    form{
        /* background-color: red; */
        /* margin-top: 30px; */
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    form .userImputfield{
        width: 100%;
        display: flex;
        /* background-color: aqua; */
        flex-direction: column;
        margin-bottom: 20px;
        
    }

    form .userImputfield div{
        margin-bottom: 15px;
    }

    .wrapper .emailinfo{
        flex-direction: column;
        gap: 10px;
    }

    .newsLetter {
        height: 300px;
        width: 100vw;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .copyWrite div{
        width: auto;
        position: relative;
        /* background-color: aqua; */
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .copyWrite div h6{
        justify-self: center;
        margin-left: 24px;
        margin-top: 0;

    }

    .copyWrite div ul{
        flex-direction: column;
        /* padding-bottom: 20px; */
        margin-top: 50px;
    }

    
    .copyWrite {
        /* width: 22.5rem; */
        width: 100vw;
        padding: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .newsLetter div{
        position: relative;
        flex-direction: column;
        margin: 10p auto;
        /* background-color: red; */
        text-align: center;
        justify-content: center;
        align-items: center;
        
    }

    .newsLetter div h4{
        font-size: 20px;

    }
    
    .newsLetter div input{
        width: 50%;
        margin-bottom: 20px;

    }
}

@media (max-width: px) {
    .container{
        width: 100%;
        /* padding: 0 30px; */
        text-align: center;
        align-items: center;
       justify-content: center;
       align-items: center;
       /* background-color: red; */
    }

    .container .contactImg{
        height: 700px;
        width: 100%;
        /* background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative; */
        /* justify-content: center;
        align-items: center;
        text-align: center; */
    }

    .contactImg .divider{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 49px;
        justify-content: center;
        align-items: center;
        margin-top: 15rem;
        margin-left: 4rem;
        text-align: center;
        margin-right: 4rem;
    }

}