.container{
    width: 100%;
    flex-shrink: 0;
    padding: 50px 4%;
    justify-content: center;
    align-items: center;
}

.container .wrapper{
    width: 100%;
    display: flex;
    gap: 5%;
}

.wrapper .leftcontent{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

}

.wrapper .leftcontent img{
    width: 590px;
    height: 375px;
    margin: 22px;
    border-radius: 10px;
}

.wrapper .rightcontent{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.rightcontent .header{
    display: inline-flex;
    flex-direction: column;
    width: 503px;
    margin: 0;
}

.rightcontent .header h6, p{
    margin: 0;
}

.rightcontent .header h6{
    color: #141E15;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    margin-top: 1rem;
}

.rightcontent .header p{
    color: #626963;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}

.btnFeild{
    width: 89.1%;
    height: 120px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    background: #FFF;
    margin-top: 25px;
}

.btnFeild p{
    color: #141E15;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    text-align: center;
    align-items: center;
    justify-self: center;
    margin-bottom: 10px;
}

.btnFeild .btnFeildFlex{
    display: flex;
    gap: 10px;
}

.content{
    height: 606px;
    margin-top: 5px;
    width: 89.1%;
}

.content p, ol{
    color: #141E15;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 20px;
    text-align: justify;
}

.content ol {
    justify-self: start;
    margin: 0;
    
}

.content p span{
    color:  #141E15;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}

.reviewFeild{
    width: 89.1%;
    margin-top: 60px;
}

.review{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 20px;
    padding-right: 3%;
}

.moreReview{
    color: #141E15;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    text-align: center;
    margin: 35px auto;
    border-bottom: 2px solid #265235;
}

.moreReview small{
    color: #265235;
    font-size: small;
}

.review div p{
    color: #000;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    
}

.review div p span{
    color: #000;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; 
    margin-right: 10px;
    
}

.review div p small{
    color:  #626963;
    font-family: Jost;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
}

.card{
    height: 496px;
    width: 270px;
    border-radius: 10px;
    background-color: #fff;
    
}

.card h4{
    color:  #141E15;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    margin-left: 10px;
}
.card p{
    color:  #626963;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    margin-left: 10px;
}

.card span{
    margin-left: 10px;   
}

.card img{
    width: 260px;
    height: 375px;
    flex-shrink: 0;
} 

.card span .star{
    width: 83.11px;
    height: 14.366px;
}

.cardWrapper{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
   
}

.cardContainer{
    width: 100%;
    height: 1254px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.footheader{
    font-family: inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

button .farmer {
    width: 100%;
    background-color: var(--light-color-green);
}


@media (max-width: 600px) {
    .container{
        width: 100%;
    }
    .container .wrapper{
        width: 100%;
        display: block;
    }

    .wrapper .leftcontent{
        width: 90vw ;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .wrapper .leftcontent img{
        width: 90%;
        height: 50%;
        border-radius: 10px;
        padding: 0;
        margin: 0;
        margin: 10px;
        
}
.imgContainer{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}

.cardWrapper{
    position: relative;
    width: 100%;
  
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 25px;
   
}
.btnFeild .btnFeildFlex button{
    gap: 20px;
}

.btnFeild .btnFeildFlex{
    position: relative;
    display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 20px;
}
.header .pragraph{
    text-align: justify;
    width: 60%;
    margin-bottom: 5px;
}

.content ol {
    justify-self: start;
    margin: 0;
    padding-right: 20px;
    
}

.reviewFeild{
    width: 89.1%;
    margin-top: 27rem;
}

}

