.logo {
  margin-right: 2em;
}

.logo img {
  width: 4.0625rem;
  height: 3.73281rem;
}

@media (max-width: 768px) {
  .logo img {
    width: 80px;
    height: 80px;
    padding-left: 0.8em;
  }
}
@media (max-width: 500px) {
  .logo img {
    width: 60px;
    height: 60px;
    padding-left: 0.5em;
  }
}

@media (max-width: 390px) {
  .logo img {
    width: 60px;
    height: 60px;
    margin-right: -1em;
  }
}
