.info-wrapper {
    width: 100%;
    padding: 20px 150px;
}

.wrapper-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h5 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin: 10px 0;
}

.info p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}


/* Media queries */
@media (max-width:500px) {
    
    
}