@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-black: #000;
  --primary-color-green: #265235;
  --accent-color: #F3C301;
  --light-color-green: #D4DCD7;
  --facebook-blue-color: #1877F2;
  --Neutral-Colors-Grey-600: #898E8A;
  --Neutral-Colors-Grey-200: #D4DCD7;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family:'Jost',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
